@inject NavigationManager Navigation

@using CommonLibrary.DataClasses.SeriesModel
@using SpreeviewFrontend.Components.Episode
@using SpreeviewFrontend.Components.Season
@using SpreeviewFrontend.Components.Reviews
@rendermode InteractiveServer

<div class="flex gap-10 px-4 sm:px-20 py-12">
	<!--Bio section-->
	<section class="flex-[2.5]">
		<!--Banner section-->
		<section class="h-[200px] sm:h-[400px] overflow-hidden relative">
			<img src=@($"https://image.tmdb.org/t/p/original{series.BannerPath}") width="100%" class="absolute top-1/2 -translate-y-1/2" />
		</section>
		<section class="px-4 flex gap-6 flex-col md:flex-row">
			<section>

				<SeriesInformation series="@series" />

				<!-- Seasons and episodes section -->
				@if (DisplaySeason == true && SeasonNumber >= 0)
				{
					<SeasonLoader LoadingType="@LoadingType.SeasonInfo" seriesId="@series.Id" SelectEpisode="SelectEpisode" />
				}

				<EpisodeAndReview DisplaySeason="DisplaySeason" series="@series" TogglePopup="TogglePopup" />

			</section>

			<!--Seasons cards section-->
			<SeasonCards series="@series" />

		</section>
	</section>
</div>

@if (DisplayPopup == true)
{
	<WriteReviewPopup series="@series" TogglePopup="TogglePopup" seasonNumber="@SeasonNumber" episodeNumber="@EpisodeNumber" episodeId="@EpisodeId" />
}



@code {
	private string GetSeasonUrl() => $"/series/{series.Id}?season={SeasonNumber}";

	public bool DisplayEpisode { get; set; } = false;

	[Parameter]
	public SeriesGetDTO series { get; set; }

	public bool DisplaySeason { get; set; } = false;

	public int SeasonNumber { get; set; } = 1;

	public void SetSeason(int i)
	{
		DisplaySeason = true;
		SeasonNumber = i;
		StateHasChanged();
		Navigation.NavigateTo(GetSeasonUrl());
	}

	public bool DisplayPopup { get; set; } = false;

	public void TogglePopup()
	{
		Console.WriteLine("Toggle Triggered");
		DisplayPopup = !DisplayPopup;
		StateHasChanged();
	}

	public int EpisodeId { get; set; }

	public int EpisodeNumber { get; set; }

	public void SelectEpisode((int Id, int number) episode)
	{
		EpisodeId = episode.Id;
		EpisodeNumber = episode.number;
		DisplayEpisode = true;
	}

}
