@using CommonLibrary.DataClasses.SeasonModel
@using CommonLibrary.DataClasses.SeriesModel
@rendermode InteractiveServer

<section class="flex flex-col gap-4 justify-center items-center overflow-hidden">
	<!--Episodes section-->
	<div class="flex gap-4 items-center py-2">
		<span>Episodes:</span>
		<div class="flex gap-2 flex-wrap">
			@for (var i = 1; i <= season.Episodes.Count; i++)
			{
				var episodeId = @season.Episodes[i - 1].Id;
				<button class="bg-black text-white px-3 py-1 rounded-lg" @onclick="() => setEpisode(episodeId)">@i</button>
			}
		</div>
	</div>

	<button class="button-purple" @onclick="TogglePopup">Write a Review</button>

	<ReviewLoader />
</section>

@if (DisplayPopup == true)
{
	<section class="fixed solid left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 h-[80vh] w-[70vw] bg-white rounded-xl flex flex-col justify-between">
		<div class="flex p-6 h-full gap-6">
			<div class="h-full overflow-hidden max-w-64 shadow-purple">
				<img src=@($"https://image.tmdb.org/t/p/original{series.BannerPath}") class="h-full object-cover" />
			</div>
			<div class="flex flex-col gap-6 items-start w-full">
				<button @onclick="TogglePopup" class="self-end" >X</button>
				<div>
					<h2 class="text-2xl">@series.Name <span class="text-sm">@series.ReleaseDate</span></h2>
					<h3>Season @season.SeasonNumber - Episode @EpisodeId</h3>
				</div>
			</div>
		</div>

		<div class="h-24 w-full bg-purple-600">
			
		</div>
	</section>
}


@code {
	[Parameter]
	public SeasonGetDTO season { get; set; }

	[Parameter]
	public SeriesGetDTO series { get; set; }

	public int EpisodeId { get; set; }

	public bool DisplayPopup { get; set; } = false;

	public void setEpisode(int Id)
	{
		EpisodeId = Id;
	}

	public void TogglePopup()
	{
		DisplayPopup = !DisplayPopup;
	}
}
