@using CommonLibrary.DataClasses.SeriesModel
@rendermode InteractiveServer

<div class="flex gap-10 px-20 py-4">
	<!--Bio section-->
	<section class="flex-[2.5]">
		<!--Banner section-->
		<section>
			<img src=@($"https://image.tmdb.org/t/p/original{series.BannerPath}") width="100%" />
		</section>
		<section class="px-4">
			<!--Information section-->
			<article class="py-6">
				<div class="flex gap-2 items-end">
					<h2 class="text-3xl">@series.Name</h2>
					<h3>@series.ReleaseDate  Directed by <span class="text-purple-700">Director Name</span></h3>
				</div>
				<p class="mt-4">
					@series.Overview
				</p>
			</article>
			@if (seasonNumber > 0)
			{
				<SeasonLoader LoadingType="@LoadingType.SeasonInfo" seasonNumber="@seasonNumber" seriesId="@series.Id" series="@series" />
			}
		</section>
	</section>
	<!--Seasons section-->
	<section class="flex-[1] flex flex-col gap-4 items-center max-h-[300px] overflow-hidden scroll-y">
		@for (var i = 1; i <= series.Seasons.Count; i++)
		{
			var seasonNumber = i; // Capture i in a new variable
			<button class="w-4/5 h-36 flex justify-center items-center light-bg-secondary text-white shrink-0" @onclick="() => SetSeason(seasonNumber)">
				@* <img src=@($"https://image.tmdb.org/t/p/original{series.Seasons[i-1].PosterPath}") /> *@
				Season @seasonNumber
			</button>
		}
	</section>
</div>

@code {
	[Parameter]
	public SeriesGetDTO series { get; set; }

	public int seasonNumber { get; set; } = 0;

	public void SetSeason(int i)
	{
		Console.WriteLine(i);
		Console.WriteLine(series.Seasons.Count);
		seasonNumber = i;
		StateHasChanged();
	}

}
